<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Deployment Task</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="glass-container" style="max-width: 400px;">
    <h2>Login Admin</h2>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username (admin)" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password (NIM Kamu)" required>
        </div>
        <button type="submit" class="btn" style="width: 100%;">MASUK</button>
    </form>
</div>
</body>
</html>